Source: freewrl
Section: graphics
Priority: optional
Maintainer: sarah <sarah.dumoulin@crc.ca>
Build-Depends: debhelper (>= 4.0.0), free-java-sdk, lesstif2-dev, libexpat1-dev, libfreetype6-dev, libgl-dev, libjpeg62-dev, libmozjs-dev, libpng12-dev, libxaw7-dev, perl
Standards-Version: 3.6.2

Package: freewrl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FreeWRL X3D/VRML browser 
