Source: freewrl
Section: graphics
Priority: optional
Maintainer: sarah <sarah.dumoulin@crc.ca>
Build-Depends: debhelper (>= 4.0.0), perl, lesstif2-dev, libexpat1-dev, libfreetype6-dev, libgl-dev, libjpeg62-dev, libpng12-dev, libmozjs-dev, xulrunner-dev, java-compiler
Standards-Version: 3.6.2

Package: freewrl
Architecture: any
Depends: libglu1, lesstif2, libfreetype6, libpng12-0, zlib1g , libjpeg62, libexpat1, libgl1, java-runtime
Recommends: ttf-bitstream-vera
Description: FreeWRL X3D/VRML browser 
