// Grant all permissions to jar file containing our EAI classes:
grant codeBase "file:vrml.jar" {
	permission java.security.RuntimePermission "createClassLoader";
};


